.vscode/
src/__pycache__/
billing_app/auth/__pycache__/
billing_app/managers/__pycache__/
src/scratch/
src/.gradio/
src/tsheets/
billing_app/__pycache__
billing_app/scratch/
billing_app/config.properties
sandbox.py
timesheet.ipynb
quick_test.py
leave_liability.ipynb
timesheet.csv